{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/cube-detail.css">
    <script src="/static/js/d3.v7.js"></script>
{{/html_head}}

<body>

    <div id="content">
        <div id="chartContainer">

            <svg id="chart" width="960" height="500"></svg>

            

        </div>
    </div>

</body>