{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="static/css/location-detail.css">
    <link rel="stylesheet" href="static/css/chartist.css">
    <script src="/static/js/chartist.js"></script>
    <script src="/static/js/location-detail.js"></script>
{{/html_head}}

<body>

    <input id="cubeId" type="hidden" value="{{cubeId}}">

    <h1>air quality {{cubeId}}</h1>

    <div id="content">
        <div id="chartContainer">

            <div class="ct-chart ct-perfect-fourth"></div>

        </div>
    </div>

</body>