{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="static/css/location-detail.css">
    <script src="/static/js/d3.v7.js"></script>
    {{!-- <script src="http://d3js.org/d3.v7.min.js" charset="utf-8"></script> --}}
    <script src="/static/js/location-detail.js"></script>
{{/html_head}}

<body>

    <input id="cubeId" type="hidden" value="{{cubeId}}">

    <h1>air quality {{cubeId}}</h1>

    <div id="content">
        <div id="chartContainer">

            <svg id="chart" width="960" height="500"></svg>

            

        </div>
    </div>

</body>