{{!Add html-head}}
{{#> html_head}}
    {{!Add custom scripts}}
    <link rel="stylesheet" href="/static/css/locations-list.css">
    <script src="/static/js/utils.js"></script>   
    <script src="/static/js/locations-list.js"></script>
{{/html_head}}

<body>
    {{!Fill content}}
    <div id="content">
        <table id="locationTable">
            <thead>
                <th>Locations</th>
            </thead>
            {{#each locations}}
                <tr class="location_row">
                    <td><a href="location/{{this.name}}">{{this.name}}</a></td>
                </tr>
                {{#each this.cubes}}
                    <tr class="cube_row">
                        <td>
                            <a href="cube/{{this.id}}">{{this.id}}</a>
                        </td>
                    </tr>
                {{/each}}
            {{/each}}
        </table>
    </div>
</body>
</html>